@media only screen and (min-width: 768px) {

  .about {
    margin-left: 300px;
    margin-right: 100px;
    text-align: justify;
  }

  .aboutImage {
    width: 500px;
    float: left;
    margin-right: 20px;
  }

  .text {
    font-size: 20px;
  }

}

@media only screen and (max-width: 768px) {

  .about {
    margin-left: 40px;
    margin-right: 20px;
  }

  .text {
    font-size: 19px;
  }

  .aboutImage {
    width: 100%;
  }
}

.about {
  margin-bottom: 60px;
}