@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

a {
  text-decoration: none;
  color: black;
}

body {
  background-image: url(../img/paperbackground.jpeg);
  background-attachment: fixed;
  margin: 0;
  height: calc(100vh - 136px);
  font-family: 'Play', sans-serif;
  font-variant-caps: small-caps;
}