@media only screen and (min-width: 768px) {

  .contactInfo {
    margin-left: 300px;
    margin-right: 100px;
  }
}

@media only screen and (max-width: 768px) {

  .contactInfo {
    margin-left: 40px;
    font-size: 19px;
  }
}
