.header {
  position: fixed;
  width: 200px;
  top: 0;
  padding-top: 50px;
  padding-left: 40px;
  height: 100%;
  /* background-image: url(../img/paperbackgroundoriginal.jpeg); */
}

.headerLink {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 30px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.headerLink:hover {
  text-shadow: 0 0 3px grey;
}

.greyed {
  opacity: 0.7;
}
